.page {
  border: none;
  margin: 0 5px;
  
}

canvas {
  border: 0;
  height: 80vh;
}

.reader-btn {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 5em;
  position: relative;
  transition: all .5s;
}

.reader-prev {
  &:hover {
    transform: translate(-10px, 0);
  }
}

.reader-next {
  &:hover {
    transform: translate(10px, 0);
  }
}

.reader__pages-count {
  color: white;
  margin-top: 10px;
}

.react-pdf__message--no-data {
  display: none!important;
}
