.background{
  // background-color: black;
}

.link {
  display: block;
  margin: auto;
  padding: 0.5rem 1.1rem;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all .3s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;
  
  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #ffffff;
    transition: all .3s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }
  
  &:hover {
    color: #2D2D2D;
    
    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}
