@import "~bootstrap/scss/bootstrap";

body{
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  outline: none!important;
}

.link {
  display: block;
  margin: auto;
  padding: 0.5rem 1.1rem;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all .5s cubic-bezier(.2, 0, 0, 1);
  z-index: 1;
  min-width: 7em;
  text-align: center;
  outline: none;
  
  &:after {
    content: '';
    display: block;
    height: 2px;
    position: absolute;
    bottom: 0;
    right: 1.25rem;
    left: 1.25rem;
    background-color: #ffffff;
    transition: all .5s cubic-bezier(.2, 0, 0, 1);
    transform-origin: bottom center;
    z-index: -1;
  }

  &:focus {
    outline: none;
  }
  
  &:hover {
    color: rgba(144, 98, 109, 1);
    
    &:after {
      right: 0;
      left: 0;
      height: 100%;
    }
  }
}

li {
  list-style-type: none;
}

.link_dark {
  color: rgba(144, 98, 109, 1);

  &:after {
    background-color: rgba(144, 98, 109, 1);
  }
  
  &:hover {
    color: white;
  }
}

.link_dark_narrow {
  min-width: 60px;
  width: 100px;
}

canvas{
  border: 1px solid #000
}

.pdf-container{
  width: 80%;
  height: 800px;
  background-color: #e4e4e4;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-msg{
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.background {
  background-image: linear-gradient(180deg, rgb(228, 183, 168), rgb(165, 133, 141));
  min-height: calc(100vh - 120px);
}

.button {
  border: none;
  width: 20em;
  height: 2em;
  color: white;
  background-color: rgba(144, 98, 109, 1);
  transition: all .5s;
  font-family: 'Montserrat', sans-serif;

  &:hover {
    background-color: rgb(116, 72, 82);
  }
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_row {
  display: flex;
  align-items: center;
}

.flex_column {
  flex-direction: column;
}

.input {
  border: none;
  background-color: #fddcd0d5;
  color: rgba(144, 98, 109, 1);
  width: 20em;
  height: 2em;

  &:focus {
    outline: none;
  }
}

.input::placeholder {
  color: rgba(144, 98, 109, 1);
  font-family: 'Montserrat', sans-serif;
}

.color_dark {
  color: rgba(144, 98, 109, 1);
  font-family: 'Montserrat', sans-serif;
}

.mb-1 {
  margin-bottom: 10px;
}

.font-12 {
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

.modal_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkbox {
  border: none;
  background-color: #fddcd0d5;
  color: rgba(144, 98, 109, 1);
  width: 1.4em;
  height: 1.4em;
}

.checkbox-title {
  margin: 10px;

  &:hover {
    cursor: pointer;
  }
}

.checkbox-box {
  height: 30px;
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-title:after {
  content: " ";
  color: rgba(144, 98, 109, 1);
  display: inline-block;
  font: 20px/30px Arial;
  position: relative;
  text-align: center;
  text-indent: 0px;
  width: 1em;
  height: 1em;
  background: #f6d2c6;
  border: none;
  vertical-align: middle;
  line-height: 1em;
}

.color-light {
  background-color: #f6d2c6;
}

input:checked + .checkbox-title:after {
   content: "Ñ…";
  }
   
  input:disabled + .checkbox-title:after {
   background: #eee;
   color: #aaa;
  }

.text-center {
  text-align: center;
  line-height: 2em;
}

.wrapper-white {
  background-color: #fdfcfbd5;
  padding: 30px;
}
