.blockBooks1{
  width: 100vw;
  margin-top: 4em;
  // height: 400px;
  display: flex;
  // padding: 2em 2em;
  // justify-content: flex-start;
  // align-items: flex-start;
  flex-wrap: wrap;
  background-color: #fddcd0d5;
  // justify-content: flex-start;
  position: relative;
}

.oneBook{
  padding: 1em;
  width: 14em;

}

.books-box {
  margin: 0 auto;
  // padding: 0 auto;
  width: 80vw;
  // max-width: calc(80vw / 2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.disabled {
  background-color: rgb(180, 139, 149)!important;
}

.box-invisible {
  display: none!important;
}

.h4office{
  color: white;
  position: relative;
  left: 0;
  top: 2.4em;
  z-index: 100;

}

.bookslist {
  min-height: 120vh;
}

.slick-slider {
  width: 80vw;
  position: relative;
  top: 10vh;
  left: 10vw;
  margin-bottom: 70px;
}

.slick-slide {
  display: flex!important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.slider-card_img {
  max-height: 250px;
  max-width: 200px;
  margin: 0 auto 10px;
}

.slider-text {
  color: rgb(110, 68, 78);
  max-width: 200px;
  max-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
