.maindown {
  background-color:  rgb(165, 133, 141);
  min-height: calc(100vh - 60px);
  // #e4b7a8, #89647b
}

.blockBooks{
  margin-top: 200px;
  height: 400px;
  
  background-color: #fddcd0d5;

}

.flex{
  display: flex;
  justify-content: space-around;
  width: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  margin-top: 100%;
width: 2em!important;
height: 2em!important;
}
