.maindown {
  background-color:  rgb(165, 133, 141);
  min-height: calc(100vh - 60px);
}

.blockBooks{
  margin-top: 200px;
  height: 400px;
  
  background-color: #fddcd0d5;

}

.flex{
  display: flex;
  justify-content: space-around;
  width: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  margin-top: 100%;
width: 2em!important;
height: 2em!important;
}

.maindown__arrow {
  font-size: 10em;
  text-align: center;
  line-height: 30px;
  color: white;
  position: relative;
  top: 90px;
  left: -5px;
  transition: all .5s;
  cursor: pointer;
  opacity: .8;
  transform: rotate(180deg);
  z-index: 100;
  width: .4em;
  margin: 0 auto;

  &:hover {
    top: 70px;
  }
}

.arrow-up {
  width: 3vw;
}
