.mainup {
  background-image: linear-gradient(180deg, #e4b7a8, rgb(165, 133, 141));
  min-height: calc(100vh - 60px);
  // #e4b7a8, #89647b
}

.mainup__title {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.mainup__title_header {
  font-size: 3em;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.mainup__image {
  position: absolute;
  right: 0;
  top: 15vh;
  min-width: 60vw;
  min-height: 70vh;
  background-color: #fddcd0d5;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 50px 0;
}

.mainup__image_img {
  height: 60vh;
  // height: 60vh;
}

.mainup__arrow {
  font-size: 10em;
  text-align: center;
  line-height: 30px;
  color: white;
  position: absolute;
  bottom: 30px;
  left: 48vw;
  transition: all .5s;
  cursor: pointer;
  opacity: .8;
  

  &:hover {
    bottom: 20px;
  }
}

.arrow-down {
  width: 3vw;
}
