.header {
  background-color: #e4b7a8;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0px 0 40px 0 rgba(228, 183, 168, 0.9);
  z-index: 100;
}

.header__links {
  display: flex;
  align-items: center;
  outline: none;
}

.header__link {
  text-decoration: none;
  color: white;
  list-style-type: none;
  outline: none;
}
.header__link:hover{
  color: rgb(165, 133, 141);
}
