.coverBig{
  justify-content: center;
  padding: 2em;
  width: 55em;
  height: 35em;
  box-sizing: content-box;
}

.bookInfo{
  height: 31em;
  margin: 2em;
  overflow: scroll;
}

.bookInfo-box {
  height: 35em;
  width: 25em;
  background-color: #fddcd0;
}

.imgCover{
  width: 25em;
  height: 35em;
}

.buttonList{
  margin: 2em;
  display: flex;
  justify-content: center;
}

.summaryBook {
  hyphens: auto;
  height: 23em;
}

.authorBook {
  color: rgba(144, 98, 109, .7);
}
